// Em caso de dúvidas acesse a documentação completa em: http://goo.gl/dz36Cj

/////////////////
// THEME COLOR //
/////////////////

// As cores do tema são as cores estruturais da peleta. A idéia é que estas cores tenham o valor
// do HUE bem diferentes, para que suas variações fiquem dentro da paleta de forma dinâmica.
// O padrão de nomenclatura é: $theme-[THEME_NAME]-color

$theme-main-color: #808078 !default;
$theme-neutral-color: #333 !default;
$theme-highlight-color: #3A87AD !default;



///////////////////
// COLOR PALETTE //
///////////////////

// O padrão de nomenclatura para a paleta é: $group-[THEME_NAME]-(dark|light)-[AMMOUNT], ex.:
//   Se a nova cor é uma versão um pouco mais clara que "theme-main-color", o nome deve ser
//   $group-main-light-10
//   Se for mais claro,
//   $group-main-light-20
//   e assim por diante...

$group-lightest: #FFFFFF;
$group-daskest: #000000;
$group-main-light10: hsl-diff($theme-main-color, -0.13, 0.81, 6.47) !default; //#654793
$group-main-dark10: hsl-diff($theme-main-color, -0.28, 1.12, -7.84) !default; //#432F62
$group-main-dark20: hsl-diff($theme-main-color, -0.63, 2.01, -12.35) !default; //#382753
$group-neutral-dark10: hsl-diff($theme-neutral-color, -0.13, 0.81, 6.47) !default; //#4a4a4a



//////////////////////
// COLOR EXCEPTIONS //
//////////////////////

// Todas as exceções -- cores que não fazem parte da paleta -- devem ficar aqui. Normalmente as
// exceções são usadas em selos, logos de terceiros, feedback, ou seja, cores que não fazem sentido
// mudar de acordo com o tema.

$button-danger-bg-color: #D9534F !default;
$button-success-bg-color: #5CB85C !default;



/////////////////
// BASE COLORS //
/////////////////

// Cores base usadas no projeto. O padrão de nomenclatura é
// $base[-STATE]-[COLOR_TYPE]-color(-from|-to), ex.:
//   Cor de borda padrão do projeto:
//   $base-border-color;

// borders and bgs
$base-border-color: $group-neutral-light20 !default;
$base-bg-light-color: $group-neutral-light30 !default;
$base-bg-dark-color: $group-neutral-light20 !default;

// text
$base-dark-font-color: $theme-neutral-color !default;
$base-light-font-color: $group-neutral-light20 !default;
$base-light-font-color-hover: $group-neutral-light10 !default;

// form
$base-input-font-color: $base-dark-font-color !default;
$base-input-placeholder-font-color: $group-neutral-light15 !default;



// ***
// O modelo abaixo cobre projetos que suportam temas
// e pode ser ignorado para projetos de pequeno porte.
// ***



////////////////////
// PROJECT COLORS //
////////////////////

// O padrão de nomenclatura é $[ELEMENT_NAME][-STATE]-[COLOR_TYPE]-color(-from|-to|-hover|...):
//   O campo de busca no seu projeto:
//   $search-input-bg-color;
//   $search-input-bg-color-from; // gradient from
//   $search-input-bg-color-to; // gradient to
//   $search-input-font-color;
//   $search-input-border-color;
//   $search-input-shadow-color;
//   $search-input-text-shadow-color;

// content
$content-bg-color: $group-lightest !default;
$content-font-color: $base-dark-font-color !default;

// links
$link-font-color: $base-light-font-color !default;

// buttons
$button-default-bg-color: $group-lightest !default;
$button-default-border-color: $group-neutral-dark10 !default;
$button-default-font-color: $theme-neutral-color !default;

$button-primary-bg-color: $theme-main-color !default;
$button-primary-font-color: $group-lightest !default;

$button-highlight-bg-color: $theme-highlight-color !default;
$button-highlight-font-color: $button-primary-font-color !default;

// forms
$input-bg-color: $group-lightest !default;
$input-disabled-bg-color: $group-neutral-light30 !default;
$input-focus-bg-color: darken($input-bg-color, 4%) !default;
$input-border-color: $base-border-color !default;
$input-box-shadow-color: fade_out($group-darkest, 0.925) !default;
$float-example-bg-color: $group-neutral-light20 !default;