
////////////////////////
// PROJECT TYPOGRAPHY //
////////////////////////

// Todos os nomes de fontes usadas no projeto e seus fallbacks vem aqui.

$main-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$monospaced-font-family: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$icon-font-family: "icons" !default;