// Se estiver no Sublime Text 2, utilize o folding system para dar um
// collapse por comentário (devido ao tab). O atalho, na sequencia é:
// Command + K e Command + 1; para abrir tudo denovo Command + k e Command + 0

/////////////////////
// FONT TABLE SIZE //
/////////////////////

// Todos os tamanhos de fonte base do projeto devem ser colocados
// aqui. Esta seria a tabela de tamanhos do projeto.

	$base-font-size: 16px !default; // base font é pixel para referência de cálculo.
	$root-font-size: $base-font-size !default; // font-size do HTML root
	$head-font-size: to-rem(60px) !default;
	$title-font-size: to-rem(36px) !default;
	$sub-title-font-size: to-rem(30px) !default;
	$item-title-font-size: to-rem(24px) !default;
	$lead-font-size: to-rem(21px) !default;
	$discreet-title-font-size: to-rem(18px) !default;
	$content-font-size: to-rem(16px) !default;
	$discreet-font-size: to-rem(14px) !default;
	$footnote-font-size: to-rem(12px) !default;



///////////////////
// PROJECT TEXTS //
///////////////////

// Para projetos mais complexos, crie variáveis para agrupar tamanhos,
// de forma que a manutenção ou sobreposição seja fácil.
// Como esta área é opcional, ela pode ser excluída caso não seja necessária.

	// header
	$header-title-font-size: $head-font-size !default;
	$header-description-font-size: $lead-font-size !default;

	// navigation
	$nav-font-size: $discreet-font-size !default;
	$nav-title-font-size: $content-font-size !default;

	// forms
	$base-input-font-size: $discreet-font-size !default;
	$base-button-font-size: $discreet-font-size !default;



//////////////////
// FONT WEIGHTS //
//////////////////

	$light-font-weight: 300;
	$regular-font-weight: 400;
	$medium-font-weight: 500;
	$bold-font-weight: 700;
	$black-font-weight: 900;



/////////////
// Z-INDEX //
/////////////

// Lista de z-index do projeto com uma diferença de 3
// para que seja possível "empurrar" um elemento para cima
// ou pra baixo caso necessário. Ex.: ($z-index-content + 1)

	$z-index-behind: 3;
	$z-index-content: 6;
	$z-index-context: 9;
	$z-index-layer: 11;
	$z-index-over: 12;



///////////////
// ANIMATION //
///////////////

	// speed
	$base-anim-duration: 0.3s;
	$slow-anim-duration: $base-anim-duration * 2;
	$fast-anim-duration: $base-anim-duration * 0.5;

	$gl-anim-duration-list: (
		("base", $base-anim-duration),
		("slow", $base-anim-duration),
		("fast", $base-anim-duration)
	) !default;

	// easing (from http://matthewlein.com/ceaser/)
	$base-anim-ease: ease;
	$in-out-anim-ease: cubic-bezier(0.455, 0.030, 0.515, 0.955); // easeInOutQuad
	$bounce-anim-ease: cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack

	// delay
	$base-anim-delay: 0.2s;
	$slow-anim-delay: $base-anim-delay * 2;
	$fast-anim-delay: $base-anim-delay * 0.5;



///////////////////
// BASE MEASURES //
///////////////////

// Todas as medidas base (padding, margin, etc.) devem ser
// colocados aqui. Variações pequenas podem ser calculadas
// diretamente no módulo. Ex.: $separator-space-size - to-rem(3px).

	$base-space-size: to-rem(10px) !default;
	$double-space-size: ($base-space-size * 2) !default;
	$separator-space-size: ($base-space-size * 4) !default;
	$highlight-space-size: ($base-space-size * 8) !default;
	$half-space-size: ($base-space-size / 2) !default;
	$minor-space-size: ($base-space-size / 5) !default;



//////////
// MISC //
//////////

	$base-border-width: 1px !default; // utilizando px pois a idéia é ser o menor valor;
	$img-replacement-text-indent: to-rem(-9999px) !default;
	$base-space-font-size: -0.25rem !default; // valor para evitar o espaço entre elementos com
											  // inline-block (nos casos onde font-size:0 ou
											  // float não podem ser usado)
