﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<h2 class="gl gl-header">
	Implementação básica
</h2>
<p class="gl">
	Exemplo de implementação, quando é necessário somente um tipo de marcação
</p>

<pre class="gl"><code class="js">hyojun.tracker.track().config({
    'trackingObject': '_gaq',
    'method': 'push',
    'timeout': 1000,
    'map': {
        'area': {
            'test1': {
                'params': [['_trackEvent', 'este é o teste 1', 'param 2', 'param 3 {dina}']]
            },
            'test2': {
                'params': [['_trackPageview', 'teste 2']]
            },
            'form': {
                'params': [['_trackEvent', 'form', 'sucesso']]
            }
        }
    }
});</code></pre>

<div class="gl-callout-important">
	<h3>Importante</h3>
	<p>
		Já existe uma instância criada em <code class="gl">hyojun.tracker.track</code>. Uma nova instância deve ser utilizada em casos de mais de um tipo de marcação, ex.: google analytics + webtrends na mesma página.
	</p>
</div>

<h3 id="examples" class="gl">Alguns testes de chamada da tracker</h3>
<p class="gl">Apenas executa a tracker: </p>
<div class="gl-example">
	<a href="#test-1" id="test1">Run</a>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.test1');</code></pre>

<p class="gl">Executa a tracker passando um valor dinâmico ("dina"): </p>
<div class="gl-example">
	<a href="#test-2" id="test2">Run</a>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.test1', { dina: 'valor-dinâmico'});</code></pre>

<p class="gl">Executa a tracker e muda a url após alguns milissegundos</p>
<div class="gl-example">
	<a href="#test-3" class="test3">Run</a>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.test2').url(this.href, this.target);</code></pre>

<p class="gl">Executa a tracker e abre uma url em uma janela nova (target _blank): </p>
<div class="gl-example">
	<a href="#test-4" class="test4">Run</a>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.test2').url(this.href, this.target);</code></pre>

<p class="gl">Executa a tracker e muda a url após alguns milissegundos. Como "area.test3" não existe, apenas muda a url: </p>
<div class="gl-example">
	<a href="#test-5" class="test5">Run</a>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.test3').url(this.href, this.target);</code></pre>

<p class="gl">Executa a tracker e executa um script: </p>
<div class="gl-example">
	<a href="#test-6" id="test6">Run</a>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.test1').js(function() { alert('script executado!'); });</code></pre>

<p class="gl">Executa a tracker e posta o formulário: </p>
<div class="gl-example">
	<form id="test7" action="" method="get">
		<input type="text" name="val" value="" id="val" />
		<button type="submit">Enviar</button>
	</form>
	<textarea class="gl response" rows="3" placeholder="response"></textarea>
</div>
<pre class="gl"><code class="js">hyojun.tracker.track('area.form').submit(this);</code></pre>